* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: black;
}


nav {
    width: 100%;
    height: 5rem;
    background-color: rgba(0, 0, 0, 144);
    border-bottom: 1px solid white;
}

nav ul {
    float: right;
}

nav div {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    width: 10rem;
    padding: 0.5rem;
    margin-top: 0.75rem;
    margin-right: 0.5rem;
    border-radius: 25px;
    text-align: center;
    border-width: 2px;
    border-style: solid;
}

nav div:hover {
    background-color: black;
    
}

nav div:hover li a {
    color: rgb(255, 255, 255);
}

nav li {
    display: inline-block;
    
}

nav li a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

h1 {
    position: absolute;
    top: 1px;
    left: 5px;
    font-size: 4rem;
    -webkit-text-stroke: 2px yellow;
}

